{% extends 'main/base.html' %}
{% load static %}
{% block footer_css %}
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock %}
{% block cotent %}
  <div class="mt-5 pt-5 bg-white custom-shadow rounded">
    <h2 class="mt-5 pt-5 m-2"><strong>{{ header }}</strong></h2>
    <p class="m-2">{{ text_on_page }}</p>
  </div>
{% endblock %}
{% block footer %}
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
  </footer>
{% endblock %}
